build/
build-*/
_CPack_Packages/
wiki/
.vs/
.idea/
*.user
*.suo
*.vcxproj*
*.xcodeproj
*.app
*.dll
*.exe
*.obj
*.pdb
*.ilk
*.cmake
*.ninja
*.log
DerivedData/
VoiceMeterPotato.xml
.codex-remote-attachments/
VoiceMeterBanana.xml-disabled
VoicemeeterRemoteAPI.pdf
